@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Movie Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10">@Model.ReleaseDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
